body {
	background: #cfdee7;
	margin: 0;
	font: 12px Lato, Open Sans, sans-serif;
	margin: 0;
	line-height: 20px;
	padding-bottom: 30px;
	
}

div#all {
	width: 1000px;
	margin: 0 auto;    
	background-color: #a1c9e6; 
	padding-left: 20px;
	padding-right: 20px;
}


header {
	padding-top:30px;
	padding-bottom: 25px;
	float:center;
	height: 200px;
	background-color: #ffffff;
}

.mySlides {display:none;}

h3 {
	font-size: 13pt;
}

h4 {
	color: #312c32;
}


ul {
	padding:5px;
}

p, dt, dd {
	font-size: 12pt;
}

li.navig {
	list-style-type: none;
	width: 190px;
	text-align: center;
	list-style-type: none;
	float: left;
	padding:20px 2px 20px 2px;
	
}

li.navig a {
	color: #ffffff;
	display: block;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
	background-color: #0B4068;
	padding-top: 8px;
	padding-bottom: 8px;
}

li.navig a:hover {
	color: #0B4068;
	background-color: #feffff;
}

div#main {
	float: center;
}

div#pictures {
	background-color: #a1c9e6;
	padding: 20px;
	text-align: center;
	
}

span {
	font-weight: bold;
}












